APIDTERest/Resources/xsdDocumento.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RecepcionDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:anyURI" name="URI"/>
        <xs:element name="ID">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="RUT_EMISOR"/>
              <xs:element type="xs:int" name="RUT_RECEPTOR"/>
              <xs:element type="xs:int" name="TIPO_DTE"/>
              <xs:element type="xs:int" name="FOLIO"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="XML_DTE"/>
        <xs:element type="xs:string" name="PDF"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>